body{	
	height: 100%;
	width: 100%;
	
}

#room{
	width:70%;
	margin: auto;
}


#center{
	width: 70%;
	margin: auto;
}

#messages{
	width:80%;
	height:500px;
	margin: auto;	
	overflow:auto;
	float: left;
	background-color:#ccc;			
}

#room-list{
	float: right;
	width: 20%;
	background-color: beige;	
	height: 500px;
	overflow: auto;
	
} 		

#send-form{
	margin:auto;	
	width: 70%;	
}

#send-message{
	width: 65%;
	margin: auto;
	float: left;	
}

#send-button{
	width: 34%;
	clear: both;	
}

#myMessage{
	text-align: right;	
	background-color:#eee;	
}